nav {
  ul {
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 4px;
      a[disabled] {
        color: var(--text-main);
        text-decoration: none;
      }
    }

    li:first-child {
      font-family: serif;
      a {
        font-size: 2em;
      }
      a:hover {
        text-decoration: none;
      }
    }
    li:nth-child(2) {
      flex: 1;
    }
  }
  p {
    margin-top: -0.2em;
    font-family: serif;
    font-size: 0.8em;
  }
}

ul.image-masonry {
  li {
    display: inline-block;
    span.action {
      color: red;
      font-size: 1.5em;
      margin: 0 0.1em;
      cursor: pointer;
    }
    .action-bar {
      display: none;
      z-index: 3;
      position: absolute;
      background-color: rgba(0,0,0,0.3);
    }
    .action-bar.bottom {
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  li:hover {
    .action-bar {
      display: inline-block;
    }
  }
}

footer {
  text-align: center;

  p {
    margin: 0;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}

.uploader {
  button, label, input {
    pointer-events: auto;
  }
  label {
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .uploader {
    .btn-sep {
      display: block;
    }
  }
}
