nav {
  ul {
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 4px;
    }

    li:first-child {
      font-family: serif;
      a {
        font-size: 2em;
      }
      a:hover {
        text-decoration: none;
      }
    }
    li:nth-child(2) {
      flex: 1;
    }
  }
  p {
    margin-top: -0.2em;
    font-family: serif;
    font-size: 0.8em;
  }
}

ul.image-masonry {
  li {
    display: inline-block;
  }
}

footer {
  text-align: center;

  p {
    margin: 0;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
}

@keyframes fade-out {
  to { opacity: 0 }
}

@keyframes slide-in {
  from { transform: translateY(var(--_travel-distance, 10px)) }
}
